html {
    height: 100%;
    margin: auto;
    width: 960px;
    overflow-y: scroll;
    background-color: #000000;
    background-image: url("cross.png");
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
    background: rgb(0,0,0);
    background: linear-gradient( rgba(0,0,0,1) 0%, rgba(0,0,0,0) 300%);
}
.banner {
    background: url('Banner.png') no-repeat center center/cover;
    height: 400px;
    display: flex;
    
}


.section {
    padding: 10px;
    position: relative;
    z-index: 2;
    font-family: 'Parkinsans', sans-serif;
    font-size: 40px;
    background-image: linear-gradient(to right, rgb(0, 179, 255), rgb(195, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}
.bottom-section {
    padding: 20px;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 2;
    background-color: transparent;
}
.game-logo {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 2px solid white;
}
.game-logo:hover {
    transform: scale(1.05);
    transition: background-color 0s ease-in, transform 0.2s ease;
}
.game-logo:not(:hover){
    transition: background-color 0s ease-in, transform 0.2s ease;
}
.game-info {
    text-align: left;
}
.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid white;
    transition: transform 0.2s ease, background-color 1s ease-out;
}
.download-button:hover {
    background-color: #cc4400;
    transform: scale(1.1);
    transition: background-color 0s ease-in, transform 0.2s ease;
}
.download-button:not(:hover) {
    transition: background-color 0.2s ease-out, transform 0.6s cubic-bezier(0.25, 1.5, 0.5, 1);
}
.socials {
    background: #222;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.socialsa {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 50px;
}
.socials a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
.socials a:not(:hover){
    transition: transform 0.2s ease;
}
.game-title {
    font-family: 'Parkinsans', sans-serif;
}